<ion-content>
  <div class="splash-container">
    <h1 class="animate__animated animate__fadeInDown">Santiago Sbaglia</h1>
    
    <!-- Fondo animado -->
    <div class="splash-background"></div>

    <h1 class="animate__animated animate__bounceIn">Créditos QR</h1>
    
    <div class="splash-logo">
      <!-- Imagen del favicon que rota -->
      <img src="../../../../assets/icon/favicon.png" alt="Splash Image" class="animate__animated animate__rotate splash-image"/>
    </div>

    <h4 class="animate__animated animate__fadeIn">División: 10 (A141-2) </h4> 

    <div class="splash-text">
      <h2 class="animate__animated animate__fadeInUp">¡Bienvenidos!</h2>
      <h3 class="animate__animated animate__fadeInUp">Suma Créditos</h3>
      <h4 class="animate__animated animate__fadeInUp">a través del QR</h4>
    </div>

    <div class="splash-loader">
      <ion-spinner name="crescent" class="animate__animated animate__fadeIn"></ion-spinner>
    </div>
  </div> 
</ion-content>
