.splash-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; /* Asegurar que ocupe todo el ancho */
    text-align: center;
    color: white;
    overflow: hidden;
  }
  
  .splash-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
   //background-image: url('../../../assets/gifFondoPantalla2.gif'); /* Ajusta el GIF */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .splash-logo {
    margin: 20px 0;
  }
  
  .splash-image {
    width: 80px; /* Ajustar el tamaño del favicon */
    height: 80px;
    animation: spin 5s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .splash-text h2,
  .splash-text h3,
  .splash-text h4 {
    margin: 10px 0;
    animation-duration: 2s;
  }
  
  .splash-loader {
    margin-top: 20px;
  }
  
  /* Ajustes para pantallas pequeñas */
  @media screen and (max-width: 768px) {
    .splash-image {
      width: 60px;
      height: 60px;
    }
  
    .splash-text h2,
    .splash-text h3,
    .splash-text h4 {
      font-size: 1.2rem;
    }
  
    .splash-loader {
      margin-top: 15px;
    }
  }
  