<ion-header>
  <ion-toolbar>
    <ion-title>Acumula Créditos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <h2>Bienvenido</h2>
    <p>Escanea un código QR para acumular créditos.</p>

    <!-- Muestra los créditos acumulados -->
    <div class="creditos-container">
      <h3>Créditos Acumulados</h3>
      <ion-card class="creditos-card">
        <ion-card-content>
          <h1 id="creditos-acumulados">{{ creditosAcumulados }}</h1> <!-- Mostrar créditos dinámicamente -->
        </ion-card-content>
      </ion-card>
    </div>

    <!-- Muestra los mensajes -->
    <ion-card *ngIf="mensaje" class="mensaje-card">
      <ion-card-content>
        <p>{{ mensaje }}</p>
      </ion-card-content>
   </ion-card>
   
    <!-- Botón para escanear QR -->
    <ion-button expand="block" color="primary" (click)="scanQrCode()" class="scan-button">
      Escanear QR
    </ion-button>

    <!-- Botón para limpiar créditos -->
    <ion-button expand="block" color="danger" (click)="limpiarCreditos()" class="limpiar-button">
      Limpiar Créditos
    </ion-button>
  </div>
</ion-content>
